<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="container-fluid">
        <sticky>
            <div class="row res-top-info">
                <div class="col-md-12">
                    <h3 class="titulo text-center">
                        {{title}}
                    </h3>
                    <button class="btn">About Me</button>
                    <button class="btn">Skills</button>
                    <button class="btn">Experiences</button>
                    <button class="btn">Education</button>
                </div>
            </div>
        </sticky>


        <app-home></app-home>

    </div>
</body>

</html>